/*_________________________UP_____________________________*/
@include media-breakpoint-up(xs) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(md) {
  .solo-movil{
    display: none !important;
  }
}
@include media-breakpoint-up(lg) {
  .input-ancho {
    height: 60px;
  }
}
@include media-breakpoint-up(xl) {
}

/*_________________________ONLY_____________________________*/
@include media-breakpoint-only(xs) {
}
@include media-breakpoint-only(sm) {
}
@include media-breakpoint-only(md) {
}
@include media-breakpoint-only(lg) {
}
@include media-breakpoint-only(xl) {
}

/*_________________________DOWN_____________________________*/
@include media-breakpoint-down(xs) {
}
@include media-breakpoint-down(sm) {
  .oculto-en-movil{
    display: none;
  }
}
@include media-breakpoint-down(md) {
  .oculto-en-phablet{
    display: none;
  }
  .input-ancho {
    height: 80px;
  }
}
@include media-breakpoint-down(lg) {  
}

html,
body {
  background-color: #fff;
  color: #636b6f;
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.links > a,
.links > p {
  color: #636b6f;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.08rem;
  text-decoration: none;
  text-transform: uppercase;
  z-index: 1;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}

.top-right {
  position: absolute;
  right: 1%;
  top: 18px;
}

.content {
  text-align: center;
}

.title {
  font-size: 84px;
}

.m-b-md {
  margin-bottom: 30px;
}

.boton-editar {
  padding-right: 6px;
}

.min-width-55 {
  min-width: 75px;
}

.min-width-120 {
  min-width: 120px;
}

// Aquí aplico un width a los iconos que acompañan a los items del menú
a.nav-link {
  width: 160px;
  > svg{
    min-width: 50px;
  }
}

/* Centra los items del menú dentro del aside */
.items-aside{
  width: 245px;
  margin: auto;
}

// Le doy a todos mis titulos de páginas el estilo de margen/eje y/3
h2{
  @extend .my-3;
}

.navbar-nav {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  > div.solo-movil {
    @extend .navbar-nav;
    justify-content: space-evenly;
  }
}

.item-usuario{
  width: 160px;
}